@import "tailwindcss";

:root {
  --primary: #135bec;
  --background-light: #f6f6f8;
  --background-dark: #0f1115;
  --surface-dark: #181b21;
  --surface-active: #22262e;
  --border-dark: #282e39;
  --text-secondary: #9da6b9;
  --bullish: #0bda5e;
  --bearish: #fa6238;
}

@theme inline {
  --color-background: var(--background-dark);
  --color-foreground: var(--text-secondary);

  --color-primary: var(--primary);
  --color-surface: var(--surface-dark);
  --color-border: var(--border-dark);

  --color-bullish: var(--bullish);
  --color-bearish: var(--bearish);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0f1115;
}
::-webkit-scrollbar-thumb {
  background: #282e39;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3b4354;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

.expand-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;
}

.peer:checked ~ .expand-content {
  grid-template-rows: 1fr;
}

.chevron-icon {
  transition: transform 0.3s ease;
}

.peer:checked ~ div .chevron-icon {
  transform: rotate(180deg);
  color: #135bec0d;
}

/* Grid Pattern Overlay */
.pattern {
  background-image:
    linear-gradient(#fff 1px, transparent 1px),
    linear-gradient(90deg, #fff 1px, transparent 1px);
  background-size: 40px 40px;
}

/* Ambient Background Elements  */
.bg-gradient-animate {
  background:
    radial-gradient(
      circle at 15% 50%,
      rgba(19, 91, 236, 0.08),
      transparent 25%
    ),
    radial-gradient(circle at 85% 30%, rgba(19, 91, 236, 0.05), transparent 25%);
}

.glass-panel {
  background: rgba(22, 30, 44, 0.7);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}
